alias maxvol="pactl set-sink-volume @DEFAULT_SINK@ 150%"
alias update="sudo apt update && sudo apt full-upgrade -y && sudo apt autoremove -y"
alias download="wget --random-wait -r -p --no-parent -e robots=off -U mozilla"
alias server="ifconfig | grep inet && python3 -m http.server"
alias la='n'
alias gettime='sudo date -s "$(wget -qSO- --max-redirect=0 google.com 2>&1 | grep Date: | cut -d" " -f5-8)Z";'
alias list-repos="apt-cache policy |grep http |awk '{print $2 $3}' |sort -u"
alias xo="xdg-open"
alias vimdiff='vim -d'
alias extract='atool --extract'
alias compress='atool --add'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias printpath="echo \$PATH | sed 's/\\:/\\n/g'"

alias cat='bat -p'
alias aria="aria2c --file-allocation=none -c -x 10 -s 10"
alias qcd="cd"

# fzf aliases
alias fzfupdate='cd ~/.fzf && git pull && ./install && cd -'
alias fzp="fzf-tmux --preview 'bat --style=numbers --color=always {} | head -500'"
alias fzf="fzf-tmux"

# git aliases
alias gpom="git push origin master"
alias ggr="git log --all --decorate --oneline --graph"
alias lsg="git ls-files"

# tmux aliases
alias ta="tmux -u attach"
alias tgex="tmux -u new-session -s General \; \
        split-window -h \; \
            select-pane -L \; \
            resize-pane -R 30 \; \
            select-pane -R \; \
            send-keys 'conda activate base && python' C-m \; \
            rename-window 'general' \; \
        new-window \; \
            send-keys 'nvtop' C-m \; \
            split-window -h \; \
            send-keys 'htop' C-m \; \
            split-window -v \; \
            send-keys 'watch duf' C-m \; \
            rename-window 'performance' \; \
        select-window -t 1 \; \
            select-pane -L"

# Python
alias uvs="source .venv/bin/activate"
alias uvr="uv run"

# WSL compatibility commands
alias clip.exe='/mnt/c/Windows/System32/clip.exe'
alias explorer.exe='/mnt/c/Windows/explorer.exe'

# Web development
# enter code folder path and remote folder path in sequence, include the trailing slash in both
alias jb="bundle exec jekyll build && rsync -avz"