alias maxvol="pactl set-sink-volume @DEFAULT_SINK@ 150%"
alias update="sudo apt update && sudo apt full-upgrade -y && sudo apt autoremove -y"
alias download="wget --random-wait -r -p --no-parent -e robots=off -U mozilla"
alias server="ifconfig | grep inet && python3 -m http.server"
alias la='n'
alias gettime='sudo date -s "$(wget -qSO- --max-redirect=0 google.com 2>&1 | grep Date: | cut -d" " -f5-8)Z";'
alias list-repos="apt-cache policy |grep http |awk '{print $2 $3}' |sort -u"
alias xo="xdg-open"
# alias vim="nvim -O" # open multiple files as vertical splits
# alias vimdiff='nvim -d'
alias vimdiff='vim -d'
alias extract='atool --extract'
alias compress='atool --add'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias printpath="echo \$PATH | sed 's/\\:/\\n/g'"

alias jn="jupyter notebook"
alias jl="jupyter lab"

alias cat='bat -p'
alias aria="aria2c --file-allocation=none -c -x 10 -s 10"
alias ytdla="youtube-dl -f 140 --add-metadata --metadata-from-title \"%(artist)s - %(title)s\" -o \"%(title)s.%(ext)s\""
alias ytdlv="youtube-dl -f 'bestvideo[height<=720]+bestaudio/best[height<=720]' --write-sub"
alias qcd="cd"
alias fzfupdate='cd ~/.fzf && git pull && ./install && cd -'
alias bashtop='~/.bashtop/bashtop'
alias fzp="fzf-tmux --preview 'bat --style=numbers --color=always {} | head -500'"
alias fzf="fzf-tmux"

# fasd aliases: see ~/.fasd-init-zsh for full list
alias cz='fasd_cd -d'
alias o='a -e xdg-open' # quick opening files with xdg-open
alias c='fasd -ia -e code' # quick opening files with xdg-open

# git aliases
alias gpom="git push origin master"
alias ggr="git log --all --decorate --oneline --graph"
alias lsg="git ls-files"

# tmux aliases
alias ta="tmux -u attach"
alias tgex="tmux -u new-session -s General \; \
        split-window -h \; \
            selectp -L \; \
            resize-pane -R 30 \; \
            selectp -R \; \
            send-keys ' python' C-m \; \
            rename-window 'general' \; \
        neww \; \
            send-keys ' nvtop' C-m \; \
            split-window -h \; \
            send-keys ' htop' C-m \; \
            split-window -v \; \
            send-keys 'watch df' C-m \; \
            rename-window 'performance' \; \
        select-window -t 1 \; \
            selectp -L"
alias tsimp="tmux -u new-session -s General-Minimal \; \
        split-window -h \; \
            send-keys ' n' C-m \; \
            swap-pane -D\; \
            resize-pane -x 20\; \
            selectp -R \; \
            rename-window 'general' \; \
        select-window -l" # set as default for WSL
alias trox="tmux -u new-session -s ROS\; \
        neww \; \
            send-keys ' roscore' C-m \; \
            split-window -h \; \
            send-keys ' htop' C-m \; \
            split-window -v \; \
            send-keys ' watch sensors' C-m \; \
            rename-window 'performance' \; \
        select-window -l" #ROS
alias tsetux="tmux -u new-session -s 'Setup'\; \
            send-keys ' vimdiff ~/.vimrc $full_scripts_path/config_files/vimrc' C-m  \; \
            rename-window 'vimrc' \; \
        neww \; \
            send-keys ' vimdiff ~/.bash_aliases $full_scripts_path/config_files/bash_aliases' C-m \; \
            rename-window 'aliases' \; \
        neww \; \
            send-keys ' vimdiff ~/.tmux.conf $full_scripts_path/config_files/tmux.conf' C-m \; \
            rename-window 'tmux conf' \; \
        neww \; \
            send-keys ' vimdiff ~/.config/ranger/rc.conf $full_scripts_path/config_files/rc.conf' C-m \; \
            rename-window 'rc' \; \
        neww \; \
            send-keys ' vimdiff ~/.config/ranger/scope.sh $full_scripts_path/config_files/scope.sh' C-m \; \
            rename-window 'rifle' \; \
        neww \; \
            send-keys ' vimdiff ~/.config/ranger/commands.py $full_scripts_path/config_files/commands.py' C-m \; \
            rename-window 'rn commands' \; \
        select-window -l"  # edit setup scripts.

# WSL compatibility commands
alias clip.exe='/mnt/c/Windows/System32/clip.exe'
alias explorer.exe='/mnt/c/Windows/explorer.exe'


# Web development
# enter code folder path and remote folder path in sequence, include the trailing slash in both
alias jb="bundle exec jekyll build && rsync -avz"
